In [9]:
# Analyse des données de la Premier League indienne (IPL) 2023

# Analyse des données de la Premier League indienne (IPL) 2023

In [10]:
import pandas as pd

In [11]:
data = pd.read_csv("../dataset/IPLPlayerAuctionData.csv")
data.head()

,Player,Role,Amount,Team,Year,Player Origin
0,Aaron Finch,Batsman,40000000,Sunrisers Hyderabad,2014.0,Overseas
1,Aaron Finch,Batsman,32000000,Mumbai Indians,2015.0,Overseas
2,Aaron Finch,Batsman,10000000,Gujarat Lions,2016.0,Overseas
3,Aaron Finch,Batsman,62000000,Kings XI Punjab,2018.0,Overseas
4,Aaron Finch,Batsman,44000000,Royal Challengers Bangalore,2020.0,Overseas

1. Player : Nom de joueur
2. Role : Type de joueur
3. Amount: Montant payé par équipe (en roupies indiennes)
4. Team : Équipe 
5. Year : Année de vente aux enchères
6. Player Origin :Joueur indien contre étranger